* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

/*body{
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/evangelion-eva01-fotogramas-1628802710.jpg?crop=0.939xw:0.835xh;0.0609xw,0.0997xh&resize=640:*");
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    background-position: top right;
    background-repeat:  no-repeat;
    background-attachment: scroll;
    background-color: indigo;
}*/

body{
    background-image: linear-gradient(90deg, violet , rgb(108, 73, 190));
}
.perritoSalchicha {
    background-color: chocolate;
}

.remove-bg{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

h1, h2, h3 {
    margin-top: 10px;
    background-color: darkviolet;
    color: ghostwhite;
}